@import "normalize-scss";

@import "./containers.scss";
@import "./spaces.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./animation.scss";

// global styles
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.main-container {
  max-width: $main-container;
  padding: 0 $space-default;
  // height: 100vh;
  margin: -54px auto 0 auto;
}
.magenta-text {
  color: $magenta;
}

.flex {
  display: flex;
  &-center-align {
    display: flex;
    align-content: center;
  }
  &-center-justify {
    display: flex;
    justify-content: center;
  }
  &-row {
    display: flex;
    flex-direction: row;
    &-reverse {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  &-column {
    display: flex;
    flex-direction: column;
    &-reverse {
      display: flex;
      flex-direction: column-reverse;
    }
    &-center {
      justify-content: center;
      &-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        > * {
          margin: auto;
        }
      }
    }
  }
}
.btn {
  width: 200px;
  height: 56px;
  border-radius: 50px;
  border: none;
  color: $white;
  background-color: $magenta;
  font-family: $font-regular;
  font-size: map-get($font-sizes, h6);
  @include breakpoint(mobile, down) {
    font-size: map-get($font-sizes-mobile, h6);
  }
  font-weight: bold;
}
$shadow-x: 0px;
$shadow-y: 2px;
$shadow-blur: 4px;
$shadow-spread: 0px;
$shadow-color: rgba(0, 0, 0, 0.75);
@mixin shadow-hover() {
  -webkit-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread
    $shadow-color;
  -moz-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
}
@mixin shadow-hover-svg() {
  -webkit-filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
  filter: drop-shadow($shadow-x $shadow-y $shadow-blur $shadow-color);
}
.shadow-hover {
  -webkit-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread
    $shadow-color;
  -moz-box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-x $shadow-y $shadow-blur $shadow-spread $shadow-color;
}
